# Env
.env
**/.env

# Node
node_modules/
**/node_modules/
.pnpm-store/
**/.pnpm-store/

# Build
dist/
**/dist/
build/
**/build/
**/build/Release/
**/*.node
.next/
**/.next/
out/
**/out/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env.*

# Backups
**/*.bak
**/*.backup
**/*.old
**/*~
